*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(173,204,204);
    font-family: Arial,sans-serif;
    
}
.container{
    border:1px solid grey;
    width:30%;
    height:60vh;
    padding:5px;
    text-align: center;
    box-shadow: 0px 0px 2px ;
    border-radius: 5px;
}
.container:hover{
    box-shadow: 8px 8px 10px;
}
.container textarea{
    width:90%;
    height:200px;
    background-color: white;
    border:none;
    border-radius: 2px;
    margin-top: 20px;
}
.count-Btn{
    color:white;
    background-color: green;
    border:none;
    border-radius: 2px;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
}
h1{
    text-decoration: underline;
}



